.footer
  border-top: 5px solid TEAL_DARK

  &__nav
    font-size: 1em

    .nav__list-header
      font-weight: bold
      letter-spacing: 1px
      margin-bottom: 0.5em
      text-transform: uppercase

    .nav__list-item
      font-size: 0.8em
      font-weight: bold

  &__section
    width: 100%

    .nav__list-item
      color: #5C5C5C !important

      &:hover, &:focus
        color: darken(#5C5C5C, 60%) !important

    &--small
      font-size: 0.8em

  &__divider
    border: 0
    border-top: 1px solid #979797
    display: block
    height: 1px
    margin: 0
    padding: 0
    width: 100%
