// Colors

$primary = white
$secondary = #42dca3 // light-green
$secondary-highlight = #1d9b6c // dark-green
$background = #1f1f1f // slightly-lighter-black

// General

html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  background-color: $background
  color: $primary

main
  min-height: 90vh

// Typography

@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700')

h1,h2,h3,h4,h5,h6
  margin: 0 0 35px
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
  font-weight: 700
  letter-spacing: 1px
  text-transform: uppercase

p
  margin: 0 0 25px
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 18px
  line-height: 1.5

// Anchors

a
  color: $secondary
  :hover, :focus
    text-decoration: none
    color: $secondary-highlight

// Buttons

// Lists
