/*color-palette: magenta=#FF1F59  aqua=#9AF7D5  orange=#FE8D26 burgundy=#A50014  indigo=#28346C*/

a {
    color: #9AF7D5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #9AF7D5;
}

.btn-default {
    border: 1px solid #9AF7D5;
    color: #9AF7D5;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #9AF7D5;
    outline: 0;
    color: #000;
    background-color: #9AF7D5;
}

.intro {
  background: url(../img/2941504858_92423577d0_b.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro-paragraph {
  font-size: 16px;
}

#activity1 {

}

#activity2 {
  background: url(../img/4127624779_652971dab1_b.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#activity3 {

}

#activity4 {
  background: url(../img/2941504268_6239c47433_b.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
