/*color-palette: #FF1F59  #FE8D26  #FE8D26  #A50014  #28346C*/

a {
    color: #FE8D26;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #FE8D26;
}

.btn-default {
    border: 1px solid #FE8D26;
    color: #FE8D26;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #FE8D26;
    outline: 0;
    color: #000;
    background-color: #FE8D26;
}

.intro {
  background: url(../img/2941504858_92423577d0_b.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#activity1 {

}

#activity2 .download-section {
  background: url(../img/4127624779_652971dab1_b.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#activity3 {

}

#activity4 .download-section {
  background: url(../img/2941504268_6239c47433_b.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
