/*color-palette: magenta=#FF1F59  aqua=#9AF7D5  orange=#FE8D26 burgundy=#A50014  indigo=#28346C*/

a {
    color: #9AF7D5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #9AF7D5;
}

.dropdown-toggle {
  cursor: pointer;
}

.btn-default {
    border: 1px solid #9AF7D5;
    color: #9AF7D5;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #9AF7D5;
    outline: 0;
    color: #000;
    background-color: #9AF7D5;
}

.intro {
  background: url(../img/2941504858_92423577d0_b.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro-paragraph {
  font-size: 16px;
}

.footnote {
  font-size: 1em;
}

.home-page #activity2 {
  background: url(../img/4127624779_652971dab1_b.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.home-page .paragraph-underlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em;
  border-radius: 6px;
}

.home-page #activity4 {
  background: url(../img/2941504268_6239c47433_b.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.resources-page .intro {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 35em;
}

.resources-page .intro-body {
  display: block;
  vertical-align: initial;
}

.padding-top-bottom-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.resources-page .section-bottom {
  border-bottom: 1px solid rgba(255,255,255,.3);
  padding-bottom: 100px;
}

.resources-page .section-top {
  padding-top: 100px;
}

.resources-page .section p:last-of-type {
  margin-bottom: 0;
}

.resources-page .table caption {
  color: white;
  font-size: 1.25em;
}

.resources-page .table td {
  width: 50%;
}

.side-nav .li {
  padding-bottom: 0.75em;
}

.sub-list {
  list-style: none;
  padding-left: 1.5em;
}
